<form  id="form_paroles">
    <div class="form-group">
      <label >Auteur</label>
      <input type="text" class="form-control" id="auteur_paroles"  placeholder="Auteur">
    </div>
    <div class="form-group">
      <label>Titre</label>
      <input type="text" class="form-control" id="titre_paroles"  placeholder="Titre de la chanson">
    </div>
    <div class="form-group">
      <label>Nom de l'album</label>
      <input type="text" class="form-control" id="nom_album_paroles"  placeholder="Nom de l'album">
    </div>
    <div class="form-group">
      <label >Paroles</label>
     <textarea class="form-control" name="" id="text_paroles"  rows="15"></textarea>
    </div> 
    <div type="submit" class="btn btn-primary" onclick="send_paroles()">Submit</div>
  </form>

 